/node_modules
/public/hot
/public/storage
/public/files/*
/public/images/ui-demo/
/storage/app/ui-demo/
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*.log
/vendor
.env
.env.backup
.phpunit.result.cache
/.phpunit.cache/
/database/backups/
/storage/framework/PsySH/
/public/images/profiles/*/
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
